*,
*::before,
*::after {
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    background-color: #1a1919;
    font-family: "Montserrat", sans-serif;
}

header {
    padding: 30px 5% 3.5%;
    background-color: #FF4754;
    list-style: none;
    font-weight: bold;
}

a {
    color: white;
    outline: none;
    text-decoration: none;
}

.logo {
    cursor: pointer;
    margin-right: auto;
}

.fa-discord {
    font-size: 20px;
    margin-right: 10px;
}

.left {
    float: left;
}

.right {
    float: right;
}

.nav_links li {
    display: inline-flex;
    padding: 0px 20px;
    float: right;
}

.nav_links li a {
    transition: all 0.5s ease 0s;
}

.nav_links li a:hover {
    transition: all 0.5s ease 0s;
    color: #131010;
}

.tokens {
    box-shadow: 0 0 10px 2px #FF4754;
    border-style: none;
    outline: none;
    text-decoration: none;
    margin-top: 100px;
    background-color: #111010;
    color: white;
    padding: 20px;
    border-radius: 5px;
    transition: 0.5s all;
    resize: none;
}

.tokens:focus {
    transition: 0.5s all;
    border: none;
    border-style: none;
    outline: none;
    text-decoration: none;
    box-shadow: 0 0 15px 2px #FF4754;
}

.token-area {
    display: flex;
    align-items: center;
    justify-content: center;
}

.button {
    display: flex;
    align-items: center;
    justify-content: center; 
}

.results{
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.results .results-box {
    margin: 0px 25px 0px 25px;
    width: 500px;
    height: 20px;
}

.results .results-box .title {
    padding: 12px 0 10px 10px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.results .valid .title{
    background-color: #00BC8C;
}

.results .invalid .title{
    background-color: #E74C3C;
}

.results .unknow .title{
    background-color: #F39C12;
}

.results .results-box .valid{
    border: 1px solid #00BC8C; 
}

.results .results-box .invalid{
    border: 1px solid #E74C3C; 
}

.results .results-box .unknow{
    border: 1px solid #F39C12; 
}

.results .results-box .body .token-checked {
    padding: 10px 0 5px 10px;
    background-color: #303030;
    font-size: 9px;
    font-family: 'Consolas', sans-serif;
}

.results .results-box .body .token-checked-invalid {
    border: 1px solid #E74C3C;
}

.results .results-box .body .token-checked-valid {
    border: 1px solid #00BC8C;
}

.results .results-box .body .token-checked-unknow {
    border: 1px solid #F39C12;
}

.button button {
    margin: 45px 0;
    width: 150px;
    height: 40px;
    background-color: #111010;
    box-shadow: 0 0 10px 2px #FF4754;
    color: white;
    border-style: none;
    cursor: pointer;
    border-radius: 5px;
    transition: 0.3s all;
}

.button button:hover {
    transition: 0.3s all;
    background-color: #131212;
    box-shadow: 0 0 14px 2px #FF4754;
}

.fas {
    margin-right: 5px;
}

.checked-count-invalid {
    background-color: white;
    color: #FF4754;
    border-radius: 100%;
    padding: 2px 3.5px 2px 3.5px;
    margin-left: 3px;
}

.checked-count-valid {
    background-color: white;
    color: #00BC8C;
    border-radius: 100%;
    padding: 2px 3.5px 2px 3.5px;
    margin-left: 3px;
}

.checked-count-unknow {
    background-color: white;
    color: #F39C12;
    border-radius: 100%;
    padding: 2px 3.5px 2px 3.5px;
    margin-left: 3px;
}